.navbar-custom {
    background-color: #002c6c;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* change the color of Nav ButtonButton */
.navbar-toggler{
    background-color: #ffffff !important;
}
.theme-color{
    background-color: #002c6c;
    color: #ffffff;
    margin: 1%;
    width: 100%;   
    padding: 3%; 
    border-radius: 10px;
    height: 20%;
}

.dd-text{
    float: right;
    padding-right: 3%;
}

.show-description{
    display: none;
}

.desc{
    height: 35%;
}
 h3,h4,h5{
     text-align: center;
     color:  #002c6c !important;
 }

 .imageBanner{
     background-image: url("./Asserts/banner2.png");
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     height: 800px;
     padding-left: 20%;
     padding-right: 20%;
 }
 .test{
     width: 100%;
     margin: 5px;
     
 }

 .test .nav{
    background-color: #002c6c;
 }

 .hover-pro:hover , .hover-pro:hover h5 {
    background-color: #002c6c;
    color: #ffffff !important;
  }

  .navbar-collapse {
    align-items: center !important;
  }
